@use "../index.scss";

.section__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.card {
    @include index.flexbox(space-between, center, column);
    background-color: index.$section-overlay;
    padding: 1rem;
    border-radius: 0.4rem;
}

.details__card-icon {
    @include index.flexbox(center, center, row);
    width: 100%;
    margin-bottom: 10px;
    gap: 5px;
}

.card-icon-value {
    text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
    .section__details {
        grid-template-columns: 1fr 1fr;
    }
}